.km-socials-share-modern {
    float: left;
    width: 100%;
    height: auto
}

.km-socials-share-modern-item {
    position: relative;
    width: 37px;
    height: 37px;
    line-height:37px;
    font-size:15px;
    border-radius:500px;
    --icon-transition-time:0.3s;
}
.kameleon-modern-link, .km-socials-share-modern-item {
    overflow: hidden;
    display: inline-block;
    text-align: center;
    cursor: pointer;
}

.km-socials-share-modern-item a {
    position: absolute;
    display: inline-block;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 9999
}

.km-socials-share-modern[data-align=center], .km-socials-share-modern[data-align="center"] {
    text-align: center
}

.km-socials-share-modern[data-align=center] .km-socials-share-modern-item,
.km-socials-share-modern[data-align="center"] .km-socials-share-modern-item {
    margin: 0 var(--icon-margins)
}

.km-item-bind-view {
    transition: all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out;
    -webkit-transition-delay: var(--icon-transition-time);
    transition-delay: var(--icon-transition-time)
}

.km-item-bind-hidden {
    opacity: 0;
    transform: scale(0);
    -webkit-transform: scale(0)
}

.km-item-bind-shown {
    opacity: 1;
    transform: scale(1);
    -webkit-transform: scale(1)
}

.km-socials-m-back {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    transition: all .3s ease-in-out;
    -webkit-transition: all .3s ease-in-out;
    z-index: 1;
    border-radius: 500px;
}

.km-socials-m-icon {
    position: absolute;
    z-index: 99;
    top: 48%;
    left: 48%;
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    -webkit-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out
}

.km-socials-m-icon.km-socials-m-icon-color,
.km-socials-m-icon.km-socials-m-icon-hovercolor {
    color: #ffffff;
}

.km-socials-m-icon.km-socials-m-icon-colorscheme{
    color: #3E2456  ;
}

.km-socials-share-modern[data-style=hoverShowTada] .km-socials-m-back-color {
    background: #3E2456;
}
.km-socials-share-modern[data-style=hoverShowTada] .km-social-custom-link .km-socials-m-back-colorscheme {
    background: #4e4e4e;
}
.km-socials-share-modern[data-style=hoverShowTada] .km-social-skype .km-socials-m-back-colorscheme{
    background: #12A5F4;
}
.km-socials-share-modern[data-style=hoverShowTada] .km-social-facebook .km-socials-m-back-colorscheme{
    background: #304f85;
}
.km-socials-share-modern[data-style=hoverShowTada] .km-social-googleplus .km-socials-m-back-colorscheme{
    background: #DD4B39;
}
.km-socials-share-modern[data-style=hoverShowTada] .km-social-twitter .km-socials-m-back-colorscheme{
    background: #15a7ff;
}
.km-socials-share-modern[data-style=hoverShowTada] .km-social-vimeo .km-socials-m-back-colorscheme{
    background: #1ab7ea;
}
.km-socials-share-modern[data-style=hoverShowTada] .km-social-youtube .km-socials-m-back-colorscheme{
    background: #bb0000;
}
.km-socials-share-modern[data-style=hoverShowTada] .km-social-flickr .km-socials-m-back-colorscheme{
    background: #ff0084;
}
.km-socials-share-modern[data-style=hoverShowTada] .km-social-linkedin .km-socials-m-back-colorscheme{
    background: #0077b5;
}
.km-socials-share-modern[data-style=hoverShowTada] .km-social-pinterest .km-socials-m-back-colorscheme{
    background: #bd081c;
}
.km-socials-share-modern[data-style=hoverShowTada] .km-social-dribbble .km-socials-m-back-colorscheme{
    background: #ea4c89;
}
.km-socials-share-modern[data-style=hoverShowTada] .km-social-instagram .km-socials-m-back-colorscheme{
    background-color: #e26183;
    background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIHZpZXdCb3g9IjAgMCAxIDEiIHByZXNlcnZlQXNwZWN0UmF0aW89Im5vbmUiPjxyYWRpYWxHcmFkaWVudCBpZD0idnNnZyIgZ3JhZGllbnRVbml0cz0idXNlclNwYWNlT25Vc2UiIGN4PSIwJSIgY3k9IjEwMCUiIHI9IjE0MS40MjEzNTYyMzczMDk1JSI+PHN0b3Agc3RvcC1jb2xvcj0iI2ZmZGE3NSIgc3RvcC1vcGFjaXR5PSIxIiBvZmZzZXQ9IjAuMTgiLz48c3RvcCBzdG9wLWNvbG9yPSIjZmYzYTQ5IiBzdG9wLW9wYWNpdHk9IjEiIG9mZnNldD0iMC40MyIvPjxzdG9wIHN0b3AtY29sb3I9IiNmZjNhNDkiIHN0b3Atb3BhY2l0eT0iMSIgb2Zmc2V0PSIwLjUiLz48c3RvcCBzdG9wLWNvbG9yPSIjZTUxOGExIiBzdG9wLW9wYWNpdHk9IjEiIG9mZnNldD0iMC43Ii8+PHN0b3Agc3RvcC1jb2xvcj0iIzY2MzRlMSIgc3RvcC1vcGFjaXR5PSIxIiBvZmZzZXQ9IjEiLz48L3JhZGlhbEdyYWRpZW50PjxyZWN0IHg9Ii01MCIgeT0iLTUwIiB3aWR0aD0iMTAxIiBoZWlnaHQ9IjEwMSIgZmlsbD0idXJsKCN2c2dnKSIgLz48L3N2Zz4=);
    background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIHZpZXdCb3g9IjAgMCAxIDEiIHByZXNlcnZlQXNwZWN0UmF0aW89Im5vbmUiPjxyYWRpYWxHcmFkaWVudCBpZD0idnNnZyIgZ3JhZGllbnRVbml0cz0idXNlclNwYWNlT25Vc2UiIGN4PSIwJSIgY3k9IjEwMCUiIHI9IjE0MS40MjEzNTYyMzczMDk1JSI+PHN0b3Agc3RvcC1jb2xvcj0iI2ZmZGE3NSIgc3RvcC1vcGFjaXR5PSIxIiBvZmZzZXQ9IjAuMTgiLz48c3RvcCBzdG9wLWNvbG9yPSIjZmYzYTQ5IiBzdG9wLW9wYWNpdHk9IjEiIG9mZnNldD0iMC40MyIvPjxzdG9wIHN0b3AtY29sb3I9IiNmZjNhNDkiIHN0b3Atb3BhY2l0eT0iMSIgb2Zmc2V0PSIwLjUiLz48c3RvcCBzdG9wLWNvbG9yPSIjZTUxOGExIiBzdG9wLW9wYWNpdHk9IjEiIG9mZnNldD0iMC43Ii8+PHN0b3Agc3RvcC1jb2xvcj0iIzY2MzRlMSIgc3RvcC1vcGFjaXR5PSIxIiBvZmZzZXQ9IjEiLz48L3JhZGlhbEdyYWRpZW50PjxyZWN0IHg9Ii01MCIgeT0iLTUwIiB3aWR0aD0iMTAxIiBoZWlnaHQ9IjEwMSIgZmlsbD0idXJsKCN2c2dnKSIgLz48L3N2Zz4=),
    -webkit-gradient(radial, left bottom, 0, left bottom, 360,color-stop(0.18, rgb(255, 218, 117)),color-stop(0.43, rgb(255, 58, 73)),color-stop(0.5, rgb(255, 58, 73)),color-stop(0.7, rgb(229, 24, 161)),color-stop(1, rgb(102, 52, 225)));
    background-image: -webkit-radial-gradient(left bottom, ellipse farthest-corner,rgb(255, 218, 117) 18%,rgb(255, 58, 73) 43%,rgb(255, 58, 73) 50%,rgb(229, 24, 161) 70%,rgb(102, 52, 225) 100%);
    background-image: radial-gradient(ellipse farthest-corner at left bottom,rgb(255, 218, 117) 18%,rgb(255, 58, 73) 43%,rgb(255, 58, 73) 50%,rgb(229, 24, 161) 70%,rgb(102, 52, 225) 100%);
    background-image: -ms-radial-gradient(left bottom, ellipse farthest-corner,rgb(255, 218, 117) 18%,rgb(255, 58, 73) 43%,rgb(255, 58, 73) 50%,rgb(229, 24, 161) 70%,rgb(102, 52, 225) 100%);
}
@media \0screen\,screen\9 {
    .km-socials-share-modern[data-style=hoverShowTada] .km-social-instagram .km-socials-m-back-colorscheme{
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ffffda75",endColorstr="#ff6634e1",GradientType=0);
    }
}

.km-socials-share-modern[data-style=hoverShowTada] .km-social-behance .km-socials-m-back-colorscheme{
    background: #1769ff;
}
.km-socials-share-modern[data-style=hoverShowTada] .km-social-tumblr .km-socials-m-back-colorscheme{
    background: #35465c;
}
.km-socials-share-modern[data-style=hoverShowTada] .km-social-tripadvisor .km-socials-m-back-colorscheme{
    background: #589442;
}
.km-socials-share-modern[data-style=hoverShowTada] .km-social-vkontakte .km-socials-m-back-colorscheme{
    background: #45668e;
}
.km-socials-share-modern[data-style=hoverShowTada] .km-social-viadeo .km-socials-m-back-colorscheme{
    background: #f07355;
}
.km-socials-share-modern[data-style=hoverShowTada] .km-social-xing .km-socials-m-back-colorscheme{
    background-color: rgb(2, 100, 102);
    background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIHZpZXdCb3g9IjAgMCAxIDEiIHByZXNlcnZlQXNwZWN0UmF0aW89Im5vbmUiPjxsaW5lYXJHcmFkaWVudCBpZD0idnNnZyIgZ3JhZGllbnRVbml0cz0idXNlclNwYWNlT25Vc2UiIHgxPSIwJSIgeTE9IjAlIiB4Mj0iMTAwJSIgeTI9IjAlIj48c3RvcCBzdG9wLWNvbG9yPSIjMDI2NDY2IiBzdG9wLW9wYWNpdHk9IjEiIG9mZnNldD0iMCIvPjxzdG9wIHN0b3AtY29sb3I9IiMwMjY0NjYiIHN0b3Atb3BhY2l0eT0iMSIgb2Zmc2V0PSIwLjQ5OCIvPjxzdG9wIHN0b3AtY29sb3I9IiNjZGRjMDAiIHN0b3Atb3BhY2l0eT0iMSIgb2Zmc2V0PSIwLjUiLz48c3RvcCBzdG9wLWNvbG9yPSIjY2RkYzAwIiBzdG9wLW9wYWNpdHk9IjEiIG9mZnNldD0iMC45OTkwMDAwMDAwMDAwMDAxIi8+PC9saW5lYXJHcmFkaWVudD48cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI3ZzZ2cpIiAvPjwvc3ZnPg==);
    background-image: -webkit-gradient(linear, 0% 0%, 100% 0%,color-stop(0, rgb(2, 100, 102)),color-stop(0.498, rgb(2, 100, 102)),color-stop(0.5, rgb(205, 220, 0)),color-stop(0.999, rgb(205, 220, 0)));
    background-image: -webkit-linear-gradient(left,rgb(2, 100, 102) 0px,rgb(2, 100, 102) 49.8%,rgb(205, 220, 0) 50%,rgb(205, 220, 0) 99.9%);
    background-image: linear-gradient(to right,rgb(2, 100, 102) 0px,rgb(2, 100, 102) 49.8%,rgb(205, 220, 0) 50%,rgb(205, 220, 0) 99.9%);
    background-image: -ms-linear-gradient(left,rgb(2, 100, 102) 0px,rgb(2, 100, 102) 49.8%,rgb(205, 220, 0) 50%,rgb(205, 220, 0) 99.9%);
}
@media \0screen\,screen\9 {
    .km-socials-share-modern[data-style=hoverShowTada] .km-social-xing .km-socials-m-back-colorscheme{
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ff026466",endColorstr="#ffcddc00",GradientType=1);
    }
}

.km-socials-share-modern[data-style=hoverShowTada] .km-social-rss .km-socials-m-back-colorscheme{
    background: #f26522;
}
.km-socials-share-modern .km-socials-m-icon-hovercolor,
.km-socials-share-modern[data-style=hoverShowTada] .km-socials-m-back-colorscheme,
.km-socials-share-modern[data-style=hoverShowTada] .km-socials-m-icon-colorscheme,
.km-socials-share-modern[data-style=hoverShowTada] .km-socials-m-icon-hovercolor {
    opacity: 0;
    visibility: hidden
}

.km-socials-share-modern[data-style=hoverShowTada] .km-socials-share-modern-item:hover .km-socials-m-icon-hovercolor {
    opacity: 1;
    visibility: visible
}

 .km-socials-share-modern[data-style=hoverShowTada] .km-socials-m-back-colorscheme {
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%) scale(0);
    -webkit-transform: translateX(-50%) translateY(-50%) scale(0)
}

.km-socials-share-modern[data-style=hoverShowTada] .km-socials-share-modern-item:hover .km-socials-m-back-colorscheme {
    width: 110%;
    height: 110%;
    transform: translateX(-50%) translateY(-50%) scale(1);
    -webkit-transform: translateX(-50%) translateY(-50%) scale(1);
    opacity: 1;
    visibility: visible
}

.km-socials-share-modern[data-style=hoverShowTada] .km-socials-share-modern-item {
    position: relative;
    overflow: unset
}

.km-socials-share-modern[data-style=hoverShowTada] .km-socials-share-modern-item .kameleon-eff-8-tada {
    position: absolute;
    height: 22px;
    width: 1px;
    z-index: 99999999;
    opacity: 0;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}

.km-socials-share-modern[data-style=hoverShowTada] .km-socials-share-modern-item .kameleon-eff-8-tada .eff8-insider {
    position: absolute;
    height: 0%;
    width: 100%;
    left: 0;
}

.km-socials-share-modern[data-style=hoverShowTada] .km-social-custom-link.km-socials-share-modern-item .kameleon-eff-8-tada .eff8-insider  {
    background: #4e4e4e;
}
.km-socials-share-modern[data-style=hoverShowTada] .km-social-skype.km-socials-share-modern-item .kameleon-eff-8-tada .eff8-insider{
    background: #12A5F4;
}
.km-socials-share-modern[data-style=hoverShowTada] .km-social-facebook.km-socials-share-modern-item .kameleon-eff-8-tada .eff8-insider{
    background: #304f85;
}
.km-socials-share-modern[data-style=hoverShowTada] .km-social-googleplus.km-socials-share-modern-item .kameleon-eff-8-tada .eff8-insider{
    background: #DD4B39;
}
.km-socials-share-modern[data-style=hoverShowTada] .km-social-twitter.km-socials-share-modern-item .kameleon-eff-8-tada .eff8-insider{
    background: #15a7ff;
}
.km-socials-share-modern[data-style=hoverShowTada] .km-social-vimeo.km-socials-share-modern-item .kameleon-eff-8-tada .eff8-insider{
    background: #1ab7ea;
}
.km-socials-share-modern[data-style=hoverShowTada] .km-social-youtube.km-socials-share-modern-item .kameleon-eff-8-tada .eff8-insider{
    background: #bb0000;
}
.km-socials-share-modern[data-style=hoverShowTada] .km-social-flickr.km-socials-share-modern-item .kameleon-eff-8-tada .eff8-insider{
    background: #ff0084;
}
.km-socials-share-modern[data-style=hoverShowTada] .km-social-linkedin.km-socials-share-modern-item .kameleon-eff-8-tada .eff8-insider{
    background: #0077b5;
}
.km-socials-share-modern[data-style=hoverShowTada] .km-social-pinterest.km-socials-share-modern-item .kameleon-eff-8-tada .eff8-insider{
    background: #bd081c;
}
.km-socials-share-modern[data-style=hoverShowTada] .km-social-dribbble.km-socials-share-modern-item .kameleon-eff-8-tada .eff8-insider{
    background: #ea4c89;
}
.km-socials-share-modern[data-style=hoverShowTada] .km-social-instagram.km-socials-share-modern-item .kameleon-eff-8-tada .eff8-insider{
    background-color: #e26183;
    background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIHZpZXdCb3g9IjAgMCAxIDEiIHByZXNlcnZlQXNwZWN0UmF0aW89Im5vbmUiPjxyYWRpYWxHcmFkaWVudCBpZD0idnNnZyIgZ3JhZGllbnRVbml0cz0idXNlclNwYWNlT25Vc2UiIGN4PSIwJSIgY3k9IjEwMCUiIHI9IjE0MS40MjEzNTYyMzczMDk1JSI+PHN0b3Agc3RvcC1jb2xvcj0iI2ZmZGE3NSIgc3RvcC1vcGFjaXR5PSIxIiBvZmZzZXQ9IjAuMTgiLz48c3RvcCBzdG9wLWNvbG9yPSIjZmYzYTQ5IiBzdG9wLW9wYWNpdHk9IjEiIG9mZnNldD0iMC40MyIvPjxzdG9wIHN0b3AtY29sb3I9IiNmZjNhNDkiIHN0b3Atb3BhY2l0eT0iMSIgb2Zmc2V0PSIwLjUiLz48c3RvcCBzdG9wLWNvbG9yPSIjZTUxOGExIiBzdG9wLW9wYWNpdHk9IjEiIG9mZnNldD0iMC43Ii8+PHN0b3Agc3RvcC1jb2xvcj0iIzY2MzRlMSIgc3RvcC1vcGFjaXR5PSIxIiBvZmZzZXQ9IjEiLz48L3JhZGlhbEdyYWRpZW50PjxyZWN0IHg9Ii01MCIgeT0iLTUwIiB3aWR0aD0iMTAxIiBoZWlnaHQ9IjEwMSIgZmlsbD0idXJsKCN2c2dnKSIgLz48L3N2Zz4=);
    background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIHZpZXdCb3g9IjAgMCAxIDEiIHByZXNlcnZlQXNwZWN0UmF0aW89Im5vbmUiPjxyYWRpYWxHcmFkaWVudCBpZD0idnNnZyIgZ3JhZGllbnRVbml0cz0idXNlclNwYWNlT25Vc2UiIGN4PSIwJSIgY3k9IjEwMCUiIHI9IjE0MS40MjEzNTYyMzczMDk1JSI+PHN0b3Agc3RvcC1jb2xvcj0iI2ZmZGE3NSIgc3RvcC1vcGFjaXR5PSIxIiBvZmZzZXQ9IjAuMTgiLz48c3RvcCBzdG9wLWNvbG9yPSIjZmYzYTQ5IiBzdG9wLW9wYWNpdHk9IjEiIG9mZnNldD0iMC40MyIvPjxzdG9wIHN0b3AtY29sb3I9IiNmZjNhNDkiIHN0b3Atb3BhY2l0eT0iMSIgb2Zmc2V0PSIwLjUiLz48c3RvcCBzdG9wLWNvbG9yPSIjZTUxOGExIiBzdG9wLW9wYWNpdHk9IjEiIG9mZnNldD0iMC43Ii8+PHN0b3Agc3RvcC1jb2xvcj0iIzY2MzRlMSIgc3RvcC1vcGFjaXR5PSIxIiBvZmZzZXQ9IjEiLz48L3JhZGlhbEdyYWRpZW50PjxyZWN0IHg9Ii01MCIgeT0iLTUwIiB3aWR0aD0iMTAxIiBoZWlnaHQ9IjEwMSIgZmlsbD0idXJsKCN2c2dnKSIgLz48L3N2Zz4=),
    -webkit-gradient(radial, left bottom, 0, left bottom, 360,color-stop(0.18, rgb(255, 218, 117)),color-stop(0.43, rgb(255, 58, 73)),color-stop(0.5, rgb(255, 58, 73)),color-stop(0.7, rgb(229, 24, 161)),color-stop(1, rgb(102, 52, 225)));
    background-image: -webkit-radial-gradient(left bottom, ellipse farthest-corner,rgb(255, 218, 117) 18%,rgb(255, 58, 73) 43%,rgb(255, 58, 73) 50%,rgb(229, 24, 161) 70%,rgb(102, 52, 225) 100%);
    background-image: radial-gradient(ellipse farthest-corner at left bottom,rgb(255, 218, 117) 18%,rgb(255, 58, 73) 43%,rgb(255, 58, 73) 50%,rgb(229, 24, 161) 70%,rgb(102, 52, 225) 100%);
    background-image: -ms-radial-gradient(left bottom, ellipse farthest-corner,rgb(255, 218, 117) 18%,rgb(255, 58, 73) 43%,rgb(255, 58, 73) 50%,rgb(229, 24, 161) 70%,rgb(102, 52, 225) 100%);
}
@media \0screen\,screen\9 {
    .km-socials-share-modern[data-style=hoverShowTada] .km-social-instagram.km-socials-share-modern-item .kameleon-eff-8-tada .eff8-insider{
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ffffda75",endColorstr="#ff6634e1",GradientType=0);
    }
}

.km-socials-share-modern[data-style=hoverShowTada] .km-social-behance.km-socials-share-modern-item .kameleon-eff-8-tada .eff8-insider{
    background: #1769ff;
}
.km-socials-share-modern[data-style=hoverShowTada] .km-social-tumblr.km-socials-share-modern-item .kameleon-eff-8-tada .eff8-insider{
    background: #35465c;
}
.km-socials-share-modern[data-style=hoverShowTada] .km-social-tripadvisor.km-socials-share-modern-item .kameleon-eff-8-tada .eff8-insider{
    background: #589442;
}
.km-socials-share-modern[data-style=hoverShowTada] .km-social-vkontakte.km-socials-share-modern-item .kameleon-eff-8-tada .eff8-insider{
    background: #45668e;
}
.km-socials-share-modern[data-style=hoverShowTada] .km-social-viadeo.km-socials-share-modern-item .kameleon-eff-8-tada .eff8-insider{
    background: #f07355;
}
.km-socials-share-modern[data-style=hoverShowTada] .km-social-xing.km-socials-share-modern-item .kameleon-eff-8-tada .eff8-insider{
    background-color: rgb(2, 100, 102);
    background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIHZpZXdCb3g9IjAgMCAxIDEiIHByZXNlcnZlQXNwZWN0UmF0aW89Im5vbmUiPjxsaW5lYXJHcmFkaWVudCBpZD0idnNnZyIgZ3JhZGllbnRVbml0cz0idXNlclNwYWNlT25Vc2UiIHgxPSIwJSIgeTE9IjAlIiB4Mj0iMTAwJSIgeTI9IjAlIj48c3RvcCBzdG9wLWNvbG9yPSIjMDI2NDY2IiBzdG9wLW9wYWNpdHk9IjEiIG9mZnNldD0iMCIvPjxzdG9wIHN0b3AtY29sb3I9IiMwMjY0NjYiIHN0b3Atb3BhY2l0eT0iMSIgb2Zmc2V0PSIwLjQ5OCIvPjxzdG9wIHN0b3AtY29sb3I9IiNjZGRjMDAiIHN0b3Atb3BhY2l0eT0iMSIgb2Zmc2V0PSIwLjUiLz48c3RvcCBzdG9wLWNvbG9yPSIjY2RkYzAwIiBzdG9wLW9wYWNpdHk9IjEiIG9mZnNldD0iMC45OTkwMDAwMDAwMDAwMDAxIi8+PC9saW5lYXJHcmFkaWVudD48cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI3ZzZ2cpIiAvPjwvc3ZnPg==);
    background-image: -webkit-gradient(linear, 0% 0%, 100% 0%,color-stop(0, rgb(2, 100, 102)),color-stop(0.498, rgb(2, 100, 102)),color-stop(0.5, rgb(205, 220, 0)),color-stop(0.999, rgb(205, 220, 0)));
    background-image: -webkit-linear-gradient(left,rgb(2, 100, 102) 0px,rgb(2, 100, 102) 49.8%,rgb(205, 220, 0) 50%,rgb(205, 220, 0) 99.9%);
    background-image: linear-gradient(to right,rgb(2, 100, 102) 0px,rgb(2, 100, 102) 49.8%,rgb(205, 220, 0) 50%,rgb(205, 220, 0) 99.9%);
    background-image: -ms-linear-gradient(left,rgb(2, 100, 102) 0px,rgb(2, 100, 102) 49.8%,rgb(205, 220, 0) 50%,rgb(205, 220, 0) 99.9%);
}
@media \0screen\,screen\9 {
    .km-socials-share-modern[data-style=hoverShowTada] .km-social-xing.km-socials-share-modern-item .kameleon-eff-8-tada .eff8-insider{
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ff026466",endColorstr="#ffcddc00",GradientType=1);
    }
}

.km-socials-share-modern[data-style=hoverShowTada] .km-social-rss.km-socials-share-modern-item .kameleon-eff-8-tada .eff8-insider{
    background: #f26522;
}

.km-socials-share-modern[data-style=hoverShowTada] .km-socials-share-modern-item .kameleon-eff-8-tada .eff8-insider-one {
    bottom: 0
}

.km-socials-share-modern[data-style=hoverShowTada] .km-socials-share-modern-item .kameleon-eff-8-tada .eff8-insider-two {
    top: 0
}

.km-socials-share-modern[data-style=hoverShowTada] .km-socials-share-modern-item .kameleon-eff-8-tada .eff8-center-insider {
    position: absolute;
    height: 100%;
    width: 0;
    top: 0;
}

.km-socials-share-modern[data-style=hoverShowTada] .km-social-custom-link.km-socials-share-modern-item .kameleon-eff-8-tada .eff8-center-insider  {
    background: #4e4e4e;
}
.km-socials-share-modern[data-style=hoverShowTada] .km-social-skype.km-socials-share-modern-item .kameleon-eff-8-tada .eff8-center-insider{
    background: #12A5F4;
}
.km-socials-share-modern[data-style=hoverShowTada] .km-social-facebook.km-socials-share-modern-item .kameleon-eff-8-tada .eff8-center-insider{
    background: #304f85;
}
.km-socials-share-modern[data-style=hoverShowTada] .km-social-googleplus.km-socials-share-modern-item .kameleon-eff-8-tada .eff8-center-insider{
    background: #DD4B39;
}
.km-socials-share-modern[data-style=hoverShowTada] .km-social-twitter.km-socials-share-modern-item .kameleon-eff-8-tada .eff8-center-insider{
    background: #15a7ff;
}
.km-socials-share-modern[data-style=hoverShowTada] .km-social-vimeo.km-socials-share-modern-item .kameleon-eff-8-tada .eff8-center-insider{
    background: #1ab7ea;
}
.km-socials-share-modern[data-style=hoverShowTada] .km-social-youtube.km-socials-share-modern-item .kameleon-eff-8-tada .eff8-center-insider{
    background: #bb0000;
}
.km-socials-share-modern[data-style=hoverShowTada] .km-social-flickr.km-socials-share-modern-item .kameleon-eff-8-tada .eff8-center-insider{
    background: #ff0084;
}
.km-socials-share-modern[data-style=hoverShowTada] .km-social-linkedin.km-socials-share-modern-item .kameleon-eff-8-tada .eff8-center-insider{
    background: #0077b5;
}
.km-socials-share-modern[data-style=hoverShowTada] .km-social-pinterest.km-socials-share-modern-item .kameleon-eff-8-tada .eff8-center-insider{
    background: #bd081c;
}
.km-socials-share-modern[data-style=hoverShowTada] .km-social-dribbble.km-socials-share-modern-item .kameleon-eff-8-tada .eff8-center-insider{
    background: #ea4c89;
}
.km-socials-share-modern[data-style=hoverShowTada] .km-social-instagram.km-socials-share-modern-item .kameleon-eff-8-tada .eff8-center-insider{
    background-color: #e26183;
    background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIHZpZXdCb3g9IjAgMCAxIDEiIHByZXNlcnZlQXNwZWN0UmF0aW89Im5vbmUiPjxyYWRpYWxHcmFkaWVudCBpZD0idnNnZyIgZ3JhZGllbnRVbml0cz0idXNlclNwYWNlT25Vc2UiIGN4PSIwJSIgY3k9IjEwMCUiIHI9IjE0MS40MjEzNTYyMzczMDk1JSI+PHN0b3Agc3RvcC1jb2xvcj0iI2ZmZGE3NSIgc3RvcC1vcGFjaXR5PSIxIiBvZmZzZXQ9IjAuMTgiLz48c3RvcCBzdG9wLWNvbG9yPSIjZmYzYTQ5IiBzdG9wLW9wYWNpdHk9IjEiIG9mZnNldD0iMC40MyIvPjxzdG9wIHN0b3AtY29sb3I9IiNmZjNhNDkiIHN0b3Atb3BhY2l0eT0iMSIgb2Zmc2V0PSIwLjUiLz48c3RvcCBzdG9wLWNvbG9yPSIjZTUxOGExIiBzdG9wLW9wYWNpdHk9IjEiIG9mZnNldD0iMC43Ii8+PHN0b3Agc3RvcC1jb2xvcj0iIzY2MzRlMSIgc3RvcC1vcGFjaXR5PSIxIiBvZmZzZXQ9IjEiLz48L3JhZGlhbEdyYWRpZW50PjxyZWN0IHg9Ii01MCIgeT0iLTUwIiB3aWR0aD0iMTAxIiBoZWlnaHQ9IjEwMSIgZmlsbD0idXJsKCN2c2dnKSIgLz48L3N2Zz4=);
    background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIHZpZXdCb3g9IjAgMCAxIDEiIHByZXNlcnZlQXNwZWN0UmF0aW89Im5vbmUiPjxyYWRpYWxHcmFkaWVudCBpZD0idnNnZyIgZ3JhZGllbnRVbml0cz0idXNlclNwYWNlT25Vc2UiIGN4PSIwJSIgY3k9IjEwMCUiIHI9IjE0MS40MjEzNTYyMzczMDk1JSI+PHN0b3Agc3RvcC1jb2xvcj0iI2ZmZGE3NSIgc3RvcC1vcGFjaXR5PSIxIiBvZmZzZXQ9IjAuMTgiLz48c3RvcCBzdG9wLWNvbG9yPSIjZmYzYTQ5IiBzdG9wLW9wYWNpdHk9IjEiIG9mZnNldD0iMC40MyIvPjxzdG9wIHN0b3AtY29sb3I9IiNmZjNhNDkiIHN0b3Atb3BhY2l0eT0iMSIgb2Zmc2V0PSIwLjUiLz48c3RvcCBzdG9wLWNvbG9yPSIjZTUxOGExIiBzdG9wLW9wYWNpdHk9IjEiIG9mZnNldD0iMC43Ii8+PHN0b3Agc3RvcC1jb2xvcj0iIzY2MzRlMSIgc3RvcC1vcGFjaXR5PSIxIiBvZmZzZXQ9IjEiLz48L3JhZGlhbEdyYWRpZW50PjxyZWN0IHg9Ii01MCIgeT0iLTUwIiB3aWR0aD0iMTAxIiBoZWlnaHQ9IjEwMSIgZmlsbD0idXJsKCN2c2dnKSIgLz48L3N2Zz4=),
    -webkit-gradient(radial, left bottom, 0, left bottom, 360,color-stop(0.18, rgb(255, 218, 117)),color-stop(0.43, rgb(255, 58, 73)),color-stop(0.5, rgb(255, 58, 73)),color-stop(0.7, rgb(229, 24, 161)),color-stop(1, rgb(102, 52, 225)));
    background-image: -webkit-radial-gradient(left bottom, ellipse farthest-corner,rgb(255, 218, 117) 18%,rgb(255, 58, 73) 43%,rgb(255, 58, 73) 50%,rgb(229, 24, 161) 70%,rgb(102, 52, 225) 100%);
    background-image: radial-gradient(ellipse farthest-corner at left bottom,rgb(255, 218, 117) 18%,rgb(255, 58, 73) 43%,rgb(255, 58, 73) 50%,rgb(229, 24, 161) 70%,rgb(102, 52, 225) 100%);
    background-image: -ms-radial-gradient(left bottom, ellipse farthest-corner,rgb(255, 218, 117) 18%,rgb(255, 58, 73) 43%,rgb(255, 58, 73) 50%,rgb(229, 24, 161) 70%,rgb(102, 52, 225) 100%);
}
@media \0screen\,screen\9 {
    .km-socials-share-modern[data-style=hoverShowTada] .km-social-instagram.km-socials-share-modern-item .kameleon-eff-8-tada .eff8-center-insider{
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ffffda75",endColorstr="#ff6634e1",GradientType=0);
    }
}

.km-socials-share-modern[data-style=hoverShowTada] .km-social-behance.km-socials-share-modern-item .kameleon-eff-8-tada .eff8-center-insider{
    background: #1769ff;
}
.km-socials-share-modern[data-style=hoverShowTada] .km-social-tumblr.km-socials-share-modern-item .kameleon-eff-8-tada .eff8-center-insider{
    background: #35465c;
}
.km-socials-share-modern[data-style=hoverShowTada] .km-social-tripadvisor.km-socials-share-modern-item .kameleon-eff-8-tada .eff8-center-insider{
    background: #589442;
}
.km-socials-share-modern[data-style=hoverShowTada] .km-social-vkontakte.km-socials-share-modern-item .kameleon-eff-8-tada .eff8-center-insider{
    background: #45668e;
}
.km-socials-share-modern[data-style=hoverShowTada] .km-social-viadeo.km-socials-share-modern-item .kameleon-eff-8-tada .eff8-center-insider{
    background: #f07355;
}
.km-socials-share-modern[data-style=hoverShowTada] .km-social-xing.km-socials-share-modern-item .kameleon-eff-8-tada .eff8-center-insider{
    background-color: rgb(2, 100, 102);
    background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIHZpZXdCb3g9IjAgMCAxIDEiIHByZXNlcnZlQXNwZWN0UmF0aW89Im5vbmUiPjxsaW5lYXJHcmFkaWVudCBpZD0idnNnZyIgZ3JhZGllbnRVbml0cz0idXNlclNwYWNlT25Vc2UiIHgxPSIwJSIgeTE9IjAlIiB4Mj0iMTAwJSIgeTI9IjAlIj48c3RvcCBzdG9wLWNvbG9yPSIjMDI2NDY2IiBzdG9wLW9wYWNpdHk9IjEiIG9mZnNldD0iMCIvPjxzdG9wIHN0b3AtY29sb3I9IiMwMjY0NjYiIHN0b3Atb3BhY2l0eT0iMSIgb2Zmc2V0PSIwLjQ5OCIvPjxzdG9wIHN0b3AtY29sb3I9IiNjZGRjMDAiIHN0b3Atb3BhY2l0eT0iMSIgb2Zmc2V0PSIwLjUiLz48c3RvcCBzdG9wLWNvbG9yPSIjY2RkYzAwIiBzdG9wLW9wYWNpdHk9IjEiIG9mZnNldD0iMC45OTkwMDAwMDAwMDAwMDAxIi8+PC9saW5lYXJHcmFkaWVudD48cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI3ZzZ2cpIiAvPjwvc3ZnPg==);
    background-image: -webkit-gradient(linear, 0% 0%, 100% 0%,color-stop(0, rgb(2, 100, 102)),color-stop(0.498, rgb(2, 100, 102)),color-stop(0.5, rgb(205, 220, 0)),color-stop(0.999, rgb(205, 220, 0)));
    background-image: -webkit-linear-gradient(left,rgb(2, 100, 102) 0px,rgb(2, 100, 102) 49.8%,rgb(205, 220, 0) 50%,rgb(205, 220, 0) 99.9%);
    background-image: linear-gradient(to right,rgb(2, 100, 102) 0px,rgb(2, 100, 102) 49.8%,rgb(205, 220, 0) 50%,rgb(205, 220, 0) 99.9%);
    background-image: -ms-linear-gradient(left,rgb(2, 100, 102) 0px,rgb(2, 100, 102) 49.8%,rgb(205, 220, 0) 50%,rgb(205, 220, 0) 99.9%);
}
@media \0screen\,screen\9 {
    .km-socials-share-modern[data-style=hoverShowTada] .km-social-xing.km-socials-share-modern-item .kameleon-eff-8-tada .eff8-center-insider{
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ff026466",endColorstr="#ffcddc00",GradientType=1);
    }
}

.km-socials-share-modern[data-style=hoverShowTada] .km-social-rss.km-socials-share-modern-item .kameleon-eff-8-tada .eff8-center-insider{
    background: #f26522;
}

.km-socials-share-modern[data-style=hoverShowTada] .km-socials-share-modern-item .kameleon-eff-8-tada .eff8-insider-three {
    left: 0
}

.km-socials-share-modern[data-style=hoverShowTada] .km-socials-share-modern-item .kameleon-eff-8-tada .eff8-insider-four {
    right: 0
}

.km-socials-share-modern[data-style=hoverShowTada] .km-socials-share-modern-item:hover .kameleon-eff-8-tada .eff8-insider-one {
    -webkit-animation: social_8_effect_insider_1 1s;
    animation: social_8_effect_insider_1 1s
}

.km-socials-share-modern[data-style=hoverShowTada] .km-socials-share-modern-item:hover .kameleon-eff-8-tada .eff8-insider-two {
    -webkit-animation: social_8_effect_insider_2 1s;
    animation: social_8_effect_insider_2 1s
}

.km-socials-share-modern[data-style=hoverShowTada] .km-socials-share-modern-item:hover .kameleon-eff-8-tada .eff8-insider-three {
    -webkit-animation: social_8_effect_insider_3 1s;
    animation: social_8_effect_insider_3 1s
}

.km-socials-share-modern[data-style=hoverShowTada] .km-socials-share-modern-item:hover .kameleon-eff-8-tada .eff8-insider-four {
    -webkit-animation: social_8_effect_insider_4 1s;
    animation: social_8_effect_insider_4 1s
}

@-webkit-keyframes social_8_effect_insider_1 {
    0% {
        height: 100%;
        top: 0;
        bottom: initial
    }
    100% {
        height: 0%;
        top: 0;
        bottom: initial
    }
}

@keyframes social_8_effect_insider_1 {
    0% {
        height: 100%;
        top: 0;
        bottom: initial
    }
    100% {
        height: 0%;
        top: 0;
        bottom: initial
    }
}

@-webkit-keyframes social_8_effect_insider_2 {
    0% {
        height: 100%;
        bottom: 0;
        top: initial
    }
    100% {
        height: 0%;
        bottom: 0;
        top: initial
    }
}

@keyframes social_8_effect_insider_2 {
    0% {
        height: 100%;
        bottom: 0;
        top: initial
    }
    100% {
        height: 0%;
        bottom: 0;
        top: initial
    }
}

@-webkit-keyframes social_8_effect_insider_3 {
    0% {
        width: 100%;
        left: 0
    }
    100% {
        width: 0;
        right: 0;
        left: 100%
    }
}

@keyframes social_8_effect_insider_3 {
    0% {
        width: 100%;
        left: 0
    }
    100% {
        width: 0;
        right: 0;
        left: 100%
    }
}

@-webkit-keyframes social_8_effect_insider_4 {
    0% {
        width: 100%;
        right: 0
    }
    100% {
        width: 0;
        left: 0;
        right: 100%
    }
}

@keyframes social_8_effect_insider_4 {
    0% {
        width: 100%;
        right: 0
    }
    100% {
        width: 0;
        left: 0;
        right: 100%
    }
}

.km-socials-share-modern[data-style=hoverShowTada] .km-socials-share-modern-item .kameleon-eff-8-tada.eff8-top {
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    left: 50%;
    top: -15px
}

.km-socials-share-modern[data-style=hoverShowTada] .km-socials-share-modern-item .kameleon-eff-8-tada.eff8-top-left {
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    left: -8px;
    top: -22px
}

.km-socials-share-modern[data-style=hoverShowTada] .km-socials-share-modern-item .kameleon-eff-8-tada.eff8-top-right {
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    right: -8px;
    top: -22px
}

.km-socials-share-modern[data-style=hoverShowTada] .km-socials-share-modern-item .kameleon-eff-8-tada.eff8-bottom {
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    left: 50%;
    bottom: -37px
}

.km-socials-share-modern[data-style=hoverShowTada] .km-socials-share-modern-item .kameleon-eff-8-tada.eff8-bottom-left {
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    left: -8px;
    bottom: -22px
}

.km-socials-share-modern[data-style=hoverShowTada] .km-socials-share-modern-item .kameleon-eff-8-tada.eff8-bottom-right {
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    right: -8px;
    bottom: -22px
}

.km-socials-share-modern[data-style=hoverShowTada] .km-socials-share-modern-item .kameleon-eff-8-tada.eff8-center-left,
.km-socials-share-modern[data-style=hoverShowTada] .km-socials-share-modern-item .kameleon-eff-8-tada.eff8-center-right {
    width: 22px;
    height: 1px;
    z-index: 99999
}

.km-socials-share-modern[data-style=hoverShowTada] .km-socials-share-modern-item .kameleon-eff-8-tada.eff8-center-right {
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    right: -24px;
    top: 50%
}

.km-socials-share-modern[data-style=hoverShowTada] .km-socials-share-modern-item .kameleon-eff-8-tada.eff8-center-left {
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    left: -24px;
    top: 50%
}

.km-socials-share-modern[data-style=hoverShowTada] .km-socials-share-modern-item:hover .kameleon-eff-8-tada {
    opacity: 1
}
