/*
Theme Name: 	Betheme Child
Theme URI: 		http://themes.muffingroup.com/betheme
Author: 		Muffin group
Author URI: 	http://muffingroup.com
Description:	Child Theme for Betheme - Premium WordPress Theme
Template:		betheme
Version: 		1.6
*/

/* Theme customization starts here
-------------------------------------------------------------- */
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600i');

@font-face {
    font-family: 'beyond_the_mountainsregular';
    src: url('fonts/beyond_the_mountains.ttf') format('ttf'),
        url('fonts/beyond_the_mountains.otf') format('otf'),
        url('fonts/beyond_the_mountains-webfont.woff2') format('woff2'),
        url('fonts/beyond_the_mountains-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@media screen and (max-width: 767px) {
    .section_wrapper, .container, .four.columns .widget-area {
        max-width: 740px !important;
        padding: 0 15px !important;
    }
}
p {
    font-style: normal !important;
    color: #5e5e5e !important;
}
.wpb_wrapper > div {
    margin-bottom: 0;
}
.uvc-heading-spacer .uvc-headings-line{
    border-color: rgb(0, 0, 0) !important;
}
.uvc-sub-heading p {
    line-height: 1.7em !important;
}
/*top bar*/
.social .slogan {
    color: #fff;
    font-size: 12px;
    font-weight: 500;
    font-family: "Raleway",sans-serif;
}
/*MENU*/
#Top_bar #logo {
    padding: 0 !important;
}
#Top_bar .menu > li > a {
    padding: 65px 0 !important;
    font-weight: 500;
}
@media screen and (max-width: 767px) {
    #Top_bar .menu > li > a {
        padding: 0 !important;
        font-weight: 500;
    }
}
#Top_bar .menu > li.current-menu-item > a,
#Top_bar .menu > li.current_page_item > a{
    font-weight: bold !important;
}
#Top_bar .menu > li > a span:not(.description) {
    line-height: 30px;
}
.menu-line-below #Top_bar .menu > li > a::after {
    bottom:auto !important;
    width: 70%;
    text-align: center;
    left: 15%;
    height: 2px;
}

#Top_bar.is-sticky .menu_wrapper .menu > li > a {
    padding: 15px 0 !important;
}
.menu-line-below #Top_bar .menu > li > a {
    text-transform: uppercase;
}
/*Internal pages*/
#Subheader {
    background-size: cover;
}
#Subheader .title{
    /* font-family: 'beyond_the_mountainsregular' !important;*/
}
#Top_bar .responsive-menu-toggle, #Header_creative .creative-menu-toggle, #Header_creative .responsive-menu-toggle {
    color: #230b33;
    background: rgba(255,255,255,0.5) !important;
}
/*footer*/
.footer-social {
    background: rgb(35, 11, 51);
    padding-top: 20px !important;
    padding-bottom: 20px !important;
}
.footer_copy {
    background: #230b33;
}
#Footer {
    font-family: "Open Sans",sans-serif;
}
#Footer .widgets_wrapper .widget {
    padding: 0;
}
#Footer .widgets_wrapper, #Footer .widgets_wrapper p {
    font-size: 13px;
    font-style: normal;
    margin: 10px 0;
}
#Footer h4 {
    letter-spacing: 0;
    font-family: "Open Sans",sans-serif;
    font-size: 19px;
    font-weight: 700;
    margin:15px 0 20px 0;
}
#Footer ul {
    background: transparent;
    padding-left: 5px;
}
#Footer ul li {
    list-style: none;
    line-height: 30px;
}
#Footer ul li::after {
    content: "";
    display: block;
    width: 0;
    border: 0;
    position: absolute;
    left: -30px;
    bottom: 0;
}

#Footer ul li:before {
    content: "\f105";
    font-family: "FontAwesome",sans-serif;
    font-style: normal;
    display: block;
    float: left;
    text-decoration: inherit;
    padding-top: 0px;
    font-size: 16px;
    line-height: 30px;
    margin: 0 5px 0 0;
    font-weight: 700;
    color: #220B33;
}

#Footer ul li a {
    padding: 0 0 0 20px;
}
#Footer .widget_recent_entries ul li {
    background: none;
    padding: 5px 0;
}
#Footer .widget_recent_entries ul li::after {
    background: none;
}
#Footer .widget_recent_entries ul li a {
    border: 0;
}
#Footer .textwidget i {
    color: #220B33;
    font-size: 15px;
}
#Footer .footer_copy .one {
    margin-bottom: 0;
    padding-top: 0;
    min-height: 44px;
}
.copyright{
    line-height: 44px;
    color: #ffffff;
    font-size: 12px;
    text-align: center;
}
.priv {display: inline-block}
#Footer .footer_copy .copyright {
    float: none;
}
@media screen and (max-width: 767px){
    #Footer .footer_copy .copyright {
        line-height: 28px;
    }
}
#back_to_top {
    background: rgba(62,36,86,1);
}
#back_to_top > i {
    color: rgba(255,255,255,.5);
}
/**/

.jm-btn button.ubtn-normal{
    background: transparent;
    padding: 12px 15px;
}
.uvc-headings-line {
    transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
}
.inner-heading .uvc-heading-spacer {
    margin-left: -20px;
}
/*HOME*/
/*Servicio*/
#services-home .vc_column_container .vc_column-inner{
    padding-right: 0;
    padding-left: 0;
}
#services-home .aio-icon-component {
    margin-bottom: 0;
}
.hover-box {
    overflow: hidden;
    width: 100%;
    float: left;
    position: relative;
    font-family: "Lato",sans-serif;
    height: 105px;
    color: #666666;
}
.hover-box h3 {
    font-family: "Lato",sans-serif;
    font-weight: 400;
    color: #666666;
}
.front-box, .back-box {
    min-height: inherit;
    float: left;
    transition: all .3s ease-in-out;
    position: relative;
    width: 100%;
}
.front-box {
    padding: 20px 10px;
}

.back-box {
    position: absolute;
    top: 0;
    right: -100%;
    visibility: hidden;
    padding: 10px;
    font-size: 13px;
    background: #E0E0E0;
}
.back-box .aio-icon-box {
    position: relative;
    display: block;
    height:85px;
}
.back-box .aio-icon-description {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}
.hover-box:hover .front-box {
    margin-left: -100%;
}
.hover-box:hover .back-box{
    right: 0;
    visibility: visible;
}
@media screen and (min-width: 768px) and (max-width: 959px){
    .front-box .left-icon .aio-icon-left .aio-icon, .front-box .left-icon .aio-icon-left .aio-icon-img {
        margin-right: 0;
    }
    .hover-box h3 {
        font-size: 100% !important;
    }
    .back-box .aio-icon-description {
        font-size: 12px;
    }
}
/*Qué es magia*/
#mago-home {
    background: #000000;
    background: -moz-linear-gradient(left,  #ffffff 0%, #333333 14.2%, #fff 14.2%, #fff 100%);
    background: -webkit-gradient(linear, left top, right top, color-stop(0%,#ffffff), color-stop(14.2%,#333333), color-stop(14.2%,#fff), color-stop(100%,#fff));
    background: -webkit-linear-gradient(left,  #fff 0%,#333333 14.2%,#fff 14.2%,#fff 100%);
    background: -o-linear-gradient(left,  #fff 0%,#333333 14.2%,#fff 14.2%,#fff 100%);
    background: -ms-linear-gradient(left,  #fff 0%,#333333 14.2%,#fff 14.2%,#fff 100%);
    background: linear-gradient(to right,  #fff 0%,#333333 14.2%,#fff 14.2%,#fff 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fff', endColorstr='#fff',GradientType=1 );
    font-family: 'Open Sans', sans-serif !important;
    margin-bottom: 35px;
    -webkit-transition: background-color 500ms ease-out 1s;
    -moz-transition: background-color 500ms ease-out 1s;
    -o-transition: background-color 500ms ease-out 1s;
    transition: background-color 500ms ease-out 1s;
    padding: 0 18%;
}
@media screen and (max-width: 959px) {
    #mago-home {
        padding: 0 15px;
    }
}
@media screen and (max-width: 1499px){

    #mago-home {
        background: none;
    }
}

#mago-home .wpb_content_element {
    margin-bottom: 0;
}
#mago-home .uvc-sub-heading, #mago-home .uvc-sub-heading p {
    font-family: 'Open Sans', sans-serif !important;
}
@media screen and (max-width: 767px) {
    #somos-magos .upb_row_bg{
        background: none!important;
    }
}

.vc_row-has-fill > .vc_column_container > .vc_column-inner {
    padding-top: 0 !important;
}
#call1-home {
    padding:60px 0;
}
#call1-home .ubtn-normal {
    font-family: 'Lato', sans-serif;
}
#inner-whose-sep .uvc-heading-spacer {
    margin-left: -20px;
}
#inner-whose-sep .uvc-sub-heading {
    font-family: "Open Sans",sans-serif;
}
.para-quien-box .uvc-main-heading h2{
    font-family: 'Raleway', sans-serif;
    margin-left: 20px;
}
.para-quien-box .wpb_text_column p {
    text-align: left;
    font-size: 12px;
    padding-right: 10px;
    padding-left: 3px;
}
.para-quien-box .aio-icon-component {
    margin-bottom: 15px;
}
#call2-home {
    padding: 120px 0;
}

#testimonials-home  .bq_wrapper{
    font-size: 12px !important;
    line-height: 20px !important;
    font-style: normal !important;
    color: #5e5e5e;
    padding-left: 60px;
    padding-right: 60px;
    background: url("http://localhost:2100/jaimemolins/wp-content/uploads/2015/05/quotes.png") no-repeat center center;
}
@media screen and (max-width: 767px){
    #testimonials-home .bq_wrapper {
        padding-left: 20px;
        padding-right: 20px;
    }
}

#testimonials-home .bq_wrapper p {
    margin-bottom: 0;
}
#testimonials-home h5 {
    text-transform: uppercase;
}
.slider_pager {
    margin-top: 15px;
}
.slider_pager .slick-dots {
    margin-left: 0;
}
.slider_pager .slick-dots li {
    list-style: none;
    display: inline-block;
    width: 13px;
    height: 13px;
    background: rgba(77,77,77,.5);
    border-radius: 50%;
    margin: 0 5px;
}
.slider_pager .slick-dots li.slick-active {
    background: rgba(77,77,77,1);
}
.slider_pagination a {
    display: inline-block;
    width: 9px;
    height: 9px;
    text-indent: -9999px;
    margin: 1px;
    background: rgba(77,77,77,.5);
    -webkit-border-radius: 100%;
    border-radius: 100%;
    border:1px solid #ffffff;
    padding: 0;
    position: relative;
    cursor: pointer;
}


.slider_pagination a.selected, .slider_pagination .slick-active a {
    width: 9px;
    height: 9px;
    margin: 0;
    background: rgba(77,77,77,1) !important;
    border-radius: 50%;
    top:1px;
}
.slider_pagination a.selected:after, .slider_pagination .slick-active a:after {
    display: none;
}

/*inner content*/
#Content {
    padding-top: 40px;
}
/*Página Quién Soy*/
.curro-heading h2 {
    font-family: "Raleway",sans-serif;
}
/*custom accordion*/
.vc_tta.vc_general .vc_tta-panel-title {
    font-family: "Open Sans", sans-serif;
    font-size: 14px;
    line-height: 30px !important;
}
.vc_tta-panel-body {
    font-size: 12px;
    color: #5E5E5E;
}
.vc_tta.vc_general .vc_tta-panel-body {
    border: 1px dashed #5E5E5E !important;
}
.vc_tta.fix-height .vc_tta-panel-body {
    min-height: 290px !important;
}
.vc_tta.vc_general .vc_tta-panel-body p {
    margin-bottom: 5px !important;
}
.vc_tta-color-white.vc_tta-style-classic .vc_tta-panel .vc_tta-panel-heading {
    border-color: #5E5E5E !important;
}
.vc_tta-color-white.vc_tta-style-classic .vc_tta-panel.vc_active .vc_tta-panel-heading {
    border: 0 !important;
    background-color: #230B33 !important;
    font-family: "Lato", sans-serif;
    font-size: 18px;
}
.vc_tta-color-white.vc_tta-style-classic .vc_tta-panel.vc_active .vc_tta-panel-title > a {
    color: #ffffff !important;
    font-family: "Lato", sans-serif;
    font-size: 18px;
}
.vc_tta.vc_tta-shape-rounded .vc_tta-panel-body, .vc_tta.vc_tta-shape-rounded .vc_tta-panel-heading, .vc_tta.vc_tta-shape-rounded .vc_tta-tab > a {
    border-radius: 10px !important;
}
.vc_tta-shape-rounded:not(.vc_tta-o-no-fill) .vc_tta-panel.vc_active .vc_tta-panel-heading {
    border-bottom-left-radius: 10px !important;
    border-bottom-right-radius: 10px !important;
}
.vc_tta-shape-rounded:not(.vc_tta-o-no-fill) .vc_tta-panel.vc_active .vc_tta-panel-body {
    border-top-left-radius: 10px !important;
    border-top-right-radius: 10px !important;
    margin: 15px;
}
.vc_tta-color-white.vc_tta-style-classic .vc_active .vc_tta-panel-heading .vc_tta-controls-icon::after, .vc_tta-color-white.vc_tta-style-classic .vc_active .vc_tta-panel-heading .vc_tta-controls-icon::before {

    border-color: #230B33 !important;
}
.vc_tta .vc_tta-controls-icon {
    padding: 5px;
    background: #230B33;
    border-radius: 50%;
}
.vc_tta .vc_active .vc_tta-panel-heading .vc_tta-controls-icon {
    padding: 5px;
    background: #ffffff;
    border-radius: 50%;
}
.vc_tta .vc_tta-controls-icon.vc_tta-controls-icon-plus::before {
    position: absolute;
    left: 25% !important;
    right: 0;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    border-width: 2px 0 0;
    width: 50%;
}
.vc_tta .vc_tta-controls-icon.vc_tta-controls-icon-plus::after {
    position: absolute;
    left: 50%;
    bottom: 0;
    top: 25% !important;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    border-width: 0 0 0 2px;
    height: 50%;
}
/*Página Qué Hago*/
#top-content-que-hago .wpb_text_column {
    font-size: 12px;
}
#top-content-que-hago p, #cursos-que-hago p{
    margin-bottom: 0;
}
#top-content-que-hago ul li {
    margin-bottom: 0;
}
#beneficios-que-hago ul
{
    width: 100%;
    margin: 0;
    padding: 0;
}
#beneficios-que-hago ul li
{
    float: left;
    width: 23%;  /* accommodate the widest item */
    margin-right: 1%;
    margin-left: 1%;
    font-size: 12px;
    list-style:none;
    position:relative;
    min-height: 110px;
}
@media screen and (min-width:768px) and (max-width: 959px){
    #beneficios-que-hago ul li
    {
        width: 48%;  /* accommodate the widest item */
        min-height: 80px;
    }
}
@media screen and (max-width: 767px){
    #beneficios-que-hago ul li
    {
        width: 95%;
        min-height: 50px;
    }
}
#beneficios-que-hago ul  li span {
    position:relative;
    padding:0 4px;
    color:#220B33;
    font-weight:normal;
    font-family:"beyond_the_mountainsregular", Arial, sans-serif;
    font-size: 25px;
    text-align:left;
    display: inline-block;
}
/* stop the floating after the list */
#beneficios-que-hago br
{
    clear: left;
}
/* separate the list from what follows it */
#beneficios-que-hago div.wpb_wrapper
{
    margin-bottom: 1em;
}

/*post-content styles*/
.the_content_wrapper .image_frame, .the_content_wrapper .wp-caption {
    margin-bottom: 0;
}
.blog_wrapper .image_frame .image_wrapper{
    border-color: #e2e2e2;
    border-radius: 20px;
}
.blog_wrapper h2 {
    font-family: 'Lato',sans-serif;
    font-size: 18px;
    line-height: 24px;
    text-transform: uppercase;
    margin-bottom: 0;
}
.blog_wrapper .post-excerpt{
    font-size: 12px;
    margin-bottom: 0;
}
.blog_wrapper .post-footer {
    font-size: 12px;
    text-transform: uppercase;
    color: #5e5e5e !important;
}
.blog_wrapper .post-footer .post-meta {
    float: left;
    margin-bottom: 0;
    color: #5e5e5e !important;
}
.blog_wrapper .post-footer .button-love {
    padding-left: 10px;
    color: #5e5e5e !important;
}
.post-footer a span.label, .button-love a .label {
    color: #5e5e5e !important;
}
/*post-single*/
.type-post .post-header h2{
    font-family: 'Lato',sans-serif;
    font-size: 18px;
    line-height: 24px;
    text-transform: uppercase;
    margin-bottom: 0;
}
.type-post .post-header .post-meta {
    text-transform: uppercase;
    color: #5e5e5e !important;
}
.type-post .post-wrapper-content {
    margin-bottom: 40px;
}
/*CONTACT PAGE*/
/*contact*/
#info-contact h3{
    font-weight: normal;
}
#info-contact .vc_column_container > .vc_column-inner {
    padding: 0 !important;
}
#info-contact .aio-icon-box {
    min-height: 220px;
}
#info-contact .border-box .aio-icon-box:before {
    content: '';
    border-left: 1px solid #b7b7b7;
    position: absolute;
    height: 45%;
    left: 0;
    top: 40%;
}
#info-contact .border-box .aio-icon-box:after {
    content: '';
    border-right: 1px solid #b7b7b7;
    position: absolute;
    height: 45%;
    right: 0;
    left:auto;
    top: 40%;
}
/*Contact form*/
span.wpcf7-form-control-wrap .wpcf7-date, span.wpcf7-form-control-wrap .wpcf7-quiz, span.wpcf7-form-control-wrap .wpcf7-number, span.wpcf7-form-control-wrap .wpcf7-select, span.wpcf7-form-control-wrap .wpcf7-text, span.wpcf7-form-control-wrap .wpcf7-textarea {
    border-width: 0 0 1px 0 !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
}
.button-flat input[type="submit"] {
    border-radius: 5px !important;
    border: 1px solid #230B33 !important;
    background: transparent !important;
    color: #230B33;
    text-transform: uppercase;
    font-size: 16px;
    font-family: "Lato", sans-serif;
}
/*Página Qué es magia*/
.block-content-que-es-magia .wpb_text_column {
    font-size: 12px;
}
.block-content-que-es-magia p{
    margin-bottom: 0;
}
#artefactos-que-es-magia ul
{
    width: 100%;
    margin: 0;
    padding: 0;
}
#artefactos-que-es-magia ul li
{
    float: left;
    width: 23%;  /* accommodate the widest item */
    margin-right: 1%;
    margin-left: 1%;
    font-size: 12px;
    list-style:none;
    position:relative;
    min-height: 110px;
}
@media screen and (min-width:768px) and (max-width: 959px){
    #artefactos-que-es-magia ul li
    {
        width: 48%;  /* accommodate the widest item */
        min-height: 50px;
    }
}
@media screen and (max-width:767px){
    #artefactos-que-es-magia ul li
    {
        width: 95%;  /* accommodate the widest item */
        min-height: 50px;
    }
}